<h2><%=@listing.title%></h2>
<img class="listing-img" src="<%=@listing.image%>">
<p><%=@listing.location%></p>
<p><%=@listing.description%></p>
<p>listed by <%=@listing.user.first_name%></p>
<%=link_to 'Back', :back%>