<!DOCTYPE html>
<html>
  <head>
    <title>Rentme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <a href='/'>Rentme</a>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
